<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Hiro Attendance{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
    <link href='https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hastatus.css') }}">

    {% block head %}{% endblock %}

</head>

<body>
    {% include 'sidebar/sidebar.html' %}



    {% block content %}

    {% endblock %}


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pagination.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/frp.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block scripts %}{% endblock %}
</body>

</html>